.table-container { 
	width: 95%;
	margin: 0 auto;
	position: relative;
	top: 50px;
}

.table {
	box-shadow: 5px 5px 5px #EEEEEE;
}
.action, .action-btns {
	text-align: center;
}
.th {
	background-color: #5663e1;
	color: #FFFFFF;
}
.header { font-weight: normal; }

.Addrecord-btn {
	font-size: 22px;
	position: relative;
	bottom: 5px;
	border-bottom: 4px solid #5663e1;
}
.Addrecord-btn { text-decoration: none; }

.plus-icon {
	display: inline;
	font-size: 30px;
	color: 5663e1;
	padding-right: 7px;
	position: relative;
	top: 2px;
}
a:link, a:visited, a:active, a:hover { text-decoration: none; }

.input-search {
	display: inline-block;
	width: 220px;
	position: absolute;
	right: 35px;
}

.edit-btn {
  border-radius: 28px;
  color: #ffffff;
  background: #558fc9;
  padding: 3px 30px 3px 30px;
  text-decoration: none;
}
.delete-btn {
	border-radius: 28px;
	color: #ffffff;
	background: #c95555;
	padding: 3px 30px 3px 30px;
	text-decoration: none;
}
.edit-btn:hover, .delete-btn:hover {
	text-decoration: none;
}